<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Web Analyzer</title>
<style type="text/css">
		div{
			max-width: none !important;
   			width: 970px;
   			margin-left: auto;
    		margin-right: auto;
    		padding-left: 10px;
    		padding-right: 10px;
		}
	</style>
</head>
<body>
	<div>
		<h2>Web Analyzer</h2>
		<hr/>
		<form action="#" th:action="@{/init-analyzer}" th:object="${forminput}" method="post">
			<p>
				Please, type website url to be analyzed 
				<input type="text" th:field="*{url}" size="40" width="30" placeholder="e.g. http//:webexample.com" />
			</p>
			<p>
				<span style="color: red;" th:text="${errormessage}"></span>
			</p>
			<p>
				<input type="submit" name="analyzewebsite" value="Analyze" />
			</p>
		</form>
	</div>	
</body>
</html>